


.left_side{
  /*borderborder-dangercol-3p-4h-full*/margin-top: 10px;
  /*border: 1px solid red;
  */width: 400px;
  height: 770px;
  border: 1px solid white;
  padding: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.title_element{
  /* border: 1px solid red; */
  height: 70px;
}

  /* padding 10px 0px */


.elements{
  /* border: 1px solid red; */
  display: flex;
  align-content: center;
  align-items: center;
}

.titles{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.principal_content{
  margin: 9px;
  width: 900px;
  height: 770px;
  /*position: relative;
  */border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.banner{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  height: 10px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.banner_info{
  margin-left: 150px;
}


.principal_content_info{
  /*margin: 20px;
  display: flex;
  */margin-top: 7px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  height: 645px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.principal_content_icon{
  position: absolute;
  top: 22%;
  left: 44%;
  transform: translate(-50%, -50%);
  z-index: 1;
    /* Añade un índice z para que se superponga  Resto de las propiedades CSS:; */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.user_icon_principal{
  font-size: 120px;
}

.company_people{
  border: 1px solid white;
  margin-top: 30px;
  width: 240px;
  height: 550px;
}

.company_info{
  border: 1px solid white;
  margin-left: 20px;
  width: 480px;
  height: 579px;
}