


.left_side{
  /*borderborder-dangercol-3p-4h-full*/margin-top: 10px;
  /*border: 1px solid red; */
  width: 400px;
  height: 770px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 40px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.title_element{
  /* border: 1px solid red; */
  height: 70px;
}

  /* padding 10px 0px */


.elements{
  /* border: 1px solid red; */
  padding: 7px;
  display: flex;
  align-content: center;
  align-items: center;
}

.titles{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.principal_content{
  border: 1px solid red;
}
