


.user_icon{
  font-size: 2rem;
  margin-left: 20px;
}

.dropdown-content {
  display: none;
}
/* 
.nav-link:hover + .drop-1,
.drop-1:hover {
  display: block;
} */

a, a:hover{
  text-decoration: none; 
  color: inherit;
}
